
/*banner部分*/
.banner{
	height: 600px;
	margin-top: 90px;
	overflow: hidden;
	cursor: pointer;
	
	position: relative;
	/*border: solid 1px;*/
}

.slide-show{
	width: 99999px;
}

.slide-show img{
	float: left;
}

.sider-bar{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.sider-bar span{
	display: inline-block;
	height: 60px;
	width: 60px;
	font-size: 50px;
	color: white;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0,0,.2);
}

.right-sidebar{
	float: right;
}

.slide-nav{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.slide-nav li{
	float: left;
	height: 2px;
	width: 50px;
	margin-left: 10px;
	background: gray;
}

.slide-nav .fisrt-nav{
	margin-left: 0;
}

.slide-nav .on{
	background: blue;
}

.slide-nav li:hover{
	background:  blue;
}

/*honor20 部分*/
.honor20{
	padding: 50px 0 20px;
	/*border: solid 1px;*/
}

.honor20 h2{
	font-size: 34px;
	font-weight: 500;
	text-align: center;
}

.phone-slt,
.honor20-show{
	width: 820px;
	margin: auto;
	/*border: solid 1px;*/
}

.phone-slt{
	margin-top: 46px;
	text-align: right;
}

.phone-slt select{
	height: 40px;
	width: 150px;
	margin-left: 20px;
	color: gray;
	/*设置文字与文字之间的距离*/
	letter-spacing: 2px;
	border-radius: 4px;
	
	/*border: solid 1px gray;*/
}

.honor20-show{
	margin-top: 70px;
}

.left-honor20{
	float: left;
	/*border: solid 1px;*/
}

.right-des{
	float: right;
	/*border: solid 1px;*/
}

.right-des li:first-of-type{
	margin-top: 96px;
}

.right-des li:first-of-type img{
	height: 34px;
}

.right-des li:nth-of-type(2){
	margin-top: 20px;
}

.right-des li:nth-of-type(2) img{
	height: 24px;
}

.text-set{
	font-size: 14px;
	line-height: 34px;
}

.right-des li:last-of-type{
	margin-top: 54px;
}

.right-des button{
	width: 132px;
	height: 38px;
	border: solid 1px gray;
	border-radius: 6px;
}

.right-des button:first-of-type{
	margin-right: 15px;
	color: white;
	background: #E5004F;
}


/*相关推荐部分*/
.recommend{
	margin-top: 10px;
	background: #E3E3E3;
	/*border: solid 1px;*/
}

h3.h3-tit{
	padding: 20px 0;
	font-size: 24px;
	font-weight: 500;
}

h3.h3-tit:before{
	display: inline-block;
	height: 30px;
	width: 3px;
	margin-right: 6px;
	content: "";
	background: #00B5E2;
	vertical-align: middle;
}

h3.h3-tit a{
	float: right;
	padding-top: 4px;
	font-size: 16px;
	color: gray;
}

.items-show figure{
	float: left;
	box-sizing: border-box;
	width: 284.25px;
	height: 370px;
	padding-top: 32px;
	text-align: center;
	background: white;
	
	position: relative;
}

/*slt1~slt2 通用兄弟选择器  匹配slt1后面的所有同级元素*/
.items-show figure:first-of-type~figure{
	margin-left: 21px;
}

.items-show figure:nth-of-type(2) .tip{
	background: #E5004F;
}

.items-show h4{
	font-size: 18px;
	font-weight: 600;
}

.items-show p{
	margin-top: 10px;
	font-size: 14px;
}

.items-show img{
	margin-top: 26px;
}

.buy-com{
	margin-top: 32px;
}

.buy-com button{
	width: 110px;
	height: 30px;
	border-radius: 6px;
	border: solid 1px gray;
	cursor: pointer;
}

.buy-com button:first-of-type{
	margin-right: 10px;
	color: white;
	background: #E5004F;
}

.items-show i.tip{
	height: 40px;
	width: 40px;
	color: white;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	background: cornflowerblue;
	border-radius: 50%;
	
	position: absolute;
	top: 84px;
	right: 20px;
}

/*商城链接部分*/
.vmall-link{
	height: 480px;
	margin-top: 15px;
	background: url(../img/index-flagship.jpg) no-repeat;
	/*border: solid 1px;*/
	
	position: relative;
}

.vmall-link figure{
	position: absolute;
	top: 50%;
	left: 242px;
	transform: translateY(-50%);
}

/*.vmall-link figure img{
	height: 50px;
}*/

a.a-set{
	display: block;
	width: 175px;
	height: 43px;
	margin:30px auto 0;
	color: white;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	background: url(../img/btn-pink.png) no-repeat;
}

.other-mall{
	width: 250px;
	height: 368px;
	
	position: absolute;
	top: 54px;
	right: 60px;
	
	/*border: solid 1px;*/
}

.other-mall hgroup{
	padding-left: 20px;
	color: white;
}

.other-mall h3{
	font-size: 20px;
}

.other-mall h4{
	margin-top: 22px;
	font-size: 14px;
}

.mall-items{
	margin-top: 48px;
}

.mall-items .ml37{
	margin-left: 37px;
}

.mall-items .mt54{
	margin-top: 54px;
}


/*最新消息部分*/
.msg{
	background: #E3E3E3;
}

.msg figure{
	float: left;
	width: 380px;
}

.msg figure:nth-of-type(2){
	margin: 0 30px;
}

.msg img{
	width: 100%;
}

.msg-items figcaption{
	padding-left: 10px;
	background: white;
}

.msg-items p{
	padding: 10px 0;
}

.msg-items time{
	display: inline-block;
	padding: 4px 0;
}

.msg-items time{
	font-size: 14px;
	color: gray;
}


/*服务中心*/
.server{
	height: 413px;
	margin-top: 30px;
}

.server div{
	height: 100%;
	width: 50%;
	float: left;
}

.index-block1{
	background: url(../img/index-block1.jpg) no-repeat;
}


.index-block2{
	background: url(../img/index-block2.jpg) no-repeat;
}

.server hgroup{
	color: white;
	text-align: center;
}

.server h2{
	margin-top: 136px;
	font-size: 30px;
}

.server h4{
	margin-top: 32px;
	font-size: 16px;
}

